@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

//Brown Palette
$bg-color: #09111e;
$light-undertone: #B9A89B;
$primary-color: #16a085;
$secondary-color: #759D85; 
$pop-color: #E2684A;


.home{
    height: 70vh;
    background-color: $bg-color;

    cursor: none;

    // border: solid 1px white;

  

    &_body{
        
        height: 100%;
        display: flex;
        align-items: center;
        
        margin-left: 100px;
        margin-right: 100px;

        // border: solid 1px white;
        
        
        &_left{
            width: 1000px;
            margin-left: 35vw;
            margin-top: 30vh;
            
            // border-bottom: solid 1px white;
            
            &_title {
                &_animate{
                    // border: solid 1px white;
                    position: relative;
                    font-family: 'Roboto Slab', serif;
                    color: $pop-color;

                    overflow: hidden;
                    

                    font-size: 40px;
                    line-height: 40px;
                    height: 50px;
                    // border: solid 1px white;

                    &_text{
                        display: inline;
                        float: left;
                    }
                    
                  
                    &_list{
                        // border: solid 1px blue;
                        margin-left: 170px;
                        margin-top: 3px;
                        text-align: left;
                        list-style: none;


                        animation-name: change;
                        animation-duration: 10s;
                        animation-iteration-count: infinite;

                        &_item{
                            padding-bottom: 20px;
                            line-height: 40px;
                            margin: 0;

                            // color: #16a085;

                        }

                    }

                    &::before{
                        content: '[';
                        
                        left: 180px;
                        font-family: 'Roboto Slab', serif;
                        font-size: 48px;
                        color: $primary-color;
                    }
    
                    &::after{
                        content: ']';

                        right: 110px;
                        font-family: 'Roboto Slab', serif;
                        font-size: 48px;
                        color: $primary-color;
                    }

                    &::before, &::after{
                        position: absolute;
                        top: 0;
                        bottom: 0;

                        animation-name: opacity;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;

                    }

                    
                    
        
                }

                h1{
                    font-family: 'Russo One', sans-serif;
                    font-size: 100px;
                    color: white;
                    
                    margin-left: 200px;
                    margin-top: 0px;
                }

                h2{
                    font-family: 'Russo One', serif;
                    font-size: 100px;
                    color: $pop-color;
                    // border: solid 1px white;
                    
                    margin-left: 480px;
                    margin-top: -80px;
                }
              
            }

            
        }

        &_right{
            height: 400px;
            width: 500px;
            border: solid 1px white;
            margin-left: 50px;
            margin-right: 50px;
        }

    }

    .socials_container{
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 48%;
        margin-left: 8vw;
        
        
        
        &_list{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
           
            
            &_item{
                padding: 5px;
            }

            // border: solid 1px red;
        }

        // border: solid 1px white;
    }

    @keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
    }

    @keyframes change{
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }


    
    


}




    


