@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Russo+One&display=swap');


//Brown Palette
$bg-color: #09111e;
$dark-undertone: #09111e;
$light-undertone: #B9A89B;
$primary-color: #446A53;
$secondary-color: #759D85; 
$pop-color: #E2684A;


@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}
.home{
    height: 100vh;
    background-color: $bg-color;

    &_body{
        height: 100vh;
        display: flex;
        border: 1px solid red;
        border-bottom: solid 1px white;
        margin-left: 100px;
        display: flex;
        align-items: center;
        

        &_left{
            width: 1000px;
            // border: solid 1px white;
            margin-left: 100px;
            
            
            &_title {
                &_animate{
                    // border: solid 1px white;
                    position: relative;
                    font-family: 'Roboto Slab', serif;
                    color: $pop-color;

                    overflow: hidden;
                    

                    font-size: 48px;
                    line-height: 48px;
                    height: 55px;
                    // border: solid 1px white;

                    &_text{
                        display: inline;
                        float: left;
                    }
                    
                  
                    &_list{
                        margin-left: 200px;
                        margin-top: 3px;
                        text-align: left;
                        list-style: none;


                        animation-name: change;
                        animation-duration: 10s;
                        animation-iteration-count: infinite;

                        &_item{
                            padding-bottom: 20px;
                            line-height: 48px;
                            margin: 0;

                            // color: #16a085;

                        }

                    }

                    &::before{
                        content: '[';
                        
                        left: 210px;
                        font-family: 'Roboto Slab', serif;
                        font-size: 48px;
                        color: #16a085;
                    }
    
                    &::after{
                        content: ']';

                        right: 150px;
                        font-family: 'Roboto Slab', serif;
                        font-size: 48px;
                        color: #16a085;
                    }

                    &::before, &::after{
                        position: absolute;
                        top: 0;
                        bottom: 0;

                        animation-name: opacity;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;

                    }

                    
                    
        
                }

                h1{
                    font-family: 'Russo One', sans-serif;
                    font-size: 120px;
                    color: white;
                    
                    margin-left: 250px;
                    margin-top: 0px;
                }

                h2{
                    font-family: 'Russo One', serif;
                    font-size: 120px;
                    color: $pop-color;
                    // border: solid 1px white;
                    
                    margin-left: 600px;
                    margin-top: -80px;
                }
              
            }

            



            
        


        }

        &_right{
            height: 900px;
            width: 600px;
            border: solid 1px white;
            margin-left: 100px;

            background-image: url("../assets/RoomMap.png");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
        }

    }

    .socials_container{
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 49%;
        left: 410px;
  

        &_list{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;

            &_item{
                padding: 5px;
            }

            // border: solid 1px red;
        }

        // border: solid 1px white;
    }

    @keyframes opacity {
        0%, 100% {opacity:0;}
        50% {opacity:1;}
    }

    @keyframes change{
        0%, 12.66%, 100% {transform:translate3d(0,0,0);}
        16.66%, 29.32% {transform:translate3d(0,-25%,0);}
        33.32%,45.98% {transform:translate3d(0,-50%,0);}
        49.98%,62.64% {transform:translate3d(0,-75%,0);}
        66.64%,79.3% {transform:translate3d(0,-50%,0);}
        83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }


    
    


}




    


