@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Russo+One&display=swap');

//Brown Palette
$bg-color: #09111e;
$light-undertone: #B9A89B;
$primary-color: #16a085;
$secondary-color: #759D85; 
$pop-color: #E2684A;

.resume{
    height: 100vh;
    width: 100%;
    background-color: $bg-color;

    &_title{
        // z-index: 2;
        position: absolute; 
        // border: solid 3px white;

        transform: rotate(-5deg);

        
        left: 20%;
        top: 8%;

        span{
            font-family: 'Caveat', cursive;
            color: whitesmoke;
            font-size: 4vw;
        }
        h1{
            font-family: 'Russo One', serif;
            font-style: italic;
            color: $primary-color;
            font-size: 4vw;
            margin-left: 17vw;
            margin-top: 6px;
            
        }
    }
    &_container{
        height: 100vh;
        background-image: url("../assets/ResumePage-Assets/ResumeTable.png");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;

        &_item{
            // border: solid 3px black;

            height: 45vh;
            width: 43vw;
            margin-right: 5vw;

            transform: rotate(-10deg);
            
        }


    }

    &_popup{
        &_{
            display: none;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;
        }

        &_show{
            opacity: 1;
            visibility: visible;
            position: absolute;
            display: flex;
            flex-direction:column;

            top: 50%;
            left: 50%;

            width: 50vw;
            height: 90vh;

            transform: translate(-50%, -50%);

            &_download{
                display: flex;
                justify-content: space-between;
                font-family: 'Caveat', cursive;
                font-size: 35px;
                margin-top: 10px;
                cursor: none;

                a{
                    color: $primary-color;
                    cursor: none;
                }

                btn{
                    color: $pop-color;
                }
            }
        }
    }

}