:root{
    --pixel-size: 7;
}

.character {
    // border: solid 1px white;
    z-index: 100;
    position: relative;

    &_container{
        width: calc(12px*var(--pixel-size));
        height: calc(14px*var(--pixel-size));
        /* background-color: bisque; */
        position: relative;
        overflow: hidden;

        &_spritesheet{
            animation: moveSpritesheet 1s steps(11) infinite;
            width: calc(128px * var(--pixel-size));
            image-rendering: pixelated;
        }
    }


}

@keyframes moveSpritesheet {
    from {
        transform: translate3d(0, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

