body::after {
    content: url("../assets/RoomMap_Contact.png") url("../assets/RoomMap_Projects.png") url("../assets/RoomMap_Resume.png") url("../assets/RoomMap.png");
    display: none;
  }

.map-container {
    will-change: background-image;
    z-index: -1;
    display: flex;
    width: 1024px;
    height: 1024px;

    /* border: solid 1px blue; */

    align-items: center;
    justify-content: center;
    text-align: center;

}

.floor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    // border: solid 1px white; 
    width: 95%;
    height: 200px;
    
    &_hover{
        cursor: none;
    }

    #door{
        position: relative;
        margin-right: 100px;
        
        // border: solid 2px red; 
        height: 80%;
        width: 100px; 


    }

    #livingRoom{
        position: relative;
        margin-right: 610px; 
        
        // border: solid 2px red; 
        height: 80%;
        width: 260px; 
    }

    #painting{
        position: relative;
        margin-right: 100px; 
        
        // border: solid 2px red; 
        height: 80%;
        width: 260px; 
    }

    
}

#floor4{
    height: 160px;
}

