.map-container {
    z-index: -1;
    display: flex;
    width: 1024px;
    height: 1024px;

    /* border: solid 1px blue; */

    align-items: center;
    justify-content: center;
    text-align: center;

}

.map-pixelart {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    background-image: url("../assets/RoomMap.png");


    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}