.map-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1024px;
    height: 1024px;
    align-items: center;


}

.map-pixelart {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    background-image: url("../assets/RoomMap.png");
    background-size: 100%;
    margin-top: -50px;
    /* border: 1px solid wheat; */
}