#cursor {
    z-index: 999;
    border: 2px solid white;
    position: absolute;

    height: 30px;
    width: 30px;
    border-radius: 25px;
    cursor: none;
    transition: top 0.2s ease, left 0.2s ease;
    pointer-events: none;

}

.App {
    cursor: none;
}