//Brown Palette
$bg-color: #09111e;
$light-undertone: #B9A89B;
$primary-color: #16a085;
$secondary-color: #759D85; 
$pop-color: #E2684A;

#cursor {
    z-index: 999;
    border: 2px solid white;
    position: absolute;

    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: none;
    transition: top 0.1s ease, left 0.1s ease;
    pointer-events: none;

    transform: translate(-50%, -50%);
    transition: width 0.4s, height 0.4s;

}

.App {
    cursor: none;
}


.load_container_section_logo{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load_container_section_logo hr{
    border:0;
    margin:0;
    width:40%;
    height:40%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite
}

.load_container_section_logo :first-child{background:#19A68C;animation-delay:-1.5s}
.load_container_section_logo :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load_container_section_logo :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load_container_section_logo :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}



.load_container{
    z-index: 9999;
    cursor: none; 
    position: fixed;
    background-color: transparent;
    
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &_section{
        background-color: #0f1724;
        height: 34vh;
        width: 100%;
        // animation: slideOut 1s forwards;

         &:first-child{
                animation: slideOut 1s forwards;
                animation-delay: 1s;
            }

        &:nth-child(2){
                animation: slideOut 1s forwards;
                animation-delay: 1.5s;
        }

        &:nth-child(3){
                animation: slideOut 1s forwards;
                animation-delay: 2s;
        }
    }
    
    
}

.load_container_section:first-child {
    animation: slideOut 1s forwards;
    animation-delay: 1s;
}

.load_container_section:nth-child(2) {
    animation: slideOut 1s forwards;
    animation-delay: 1.5s;
}

.load_container_section:nth-child(3) {
    animation: slideOut 1s forwards;
    animation-delay: 2s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideOut{
    from{
        transform: translateX(0);
    }
    to {
        transform: translatex(100%);
    }
}
