:root {
  --primaryDarkBlue: #374A67;
  --dark: #061b28;
  --darkGreen: #224b52;
  --richBlack: #0E1116;
  --darkViolet: #616283;
  --darkPink: #9E7B9B;
  --lightViolet: #CB9CF2;
  --richPink: #d84862;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
